<div id="main-content" class="col-sm-9">
  <h3 class="page-name"><%= link_to 'Hobby', hobby_posts_path %></h3>
  <div class="posts-container">
    <% @hobby_posts.each do |post| %>
      <div class="post-card">
        <%= render post %>
      </div>
    <% end %>
  </div>
 
  <h3 class="page-name"><%= link_to 'Study', study_posts_path %></h3>
  <div class="posts-container">
    <% @study_posts.each do |post| %>
      <div class="post-card">
        <%= render post %>
      </div>
    <% end %>
  </div>
 
  <h3 class="page-name"><%= link_to 'Team member', team_posts_path %></h3>
  <div class="posts-container">
    <% @team_posts.each do |post| %>
      <div class="post-card">
        <%= render post %>
      </div>
    <% end %>
  </div>
</div>
 