<div class="container-flouid">
  <nav class="navbar navbar-expand-lg bg-light navbar-fixed-top">
    <div class="container">
      <h3><%= link_to 'LabHub', root_path, class: 'navbar-brand' %></h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <% if user_signed_in? %>

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a id="user-settings" class="nav-link" href="#">
                <span id="user-name"><%= current_user.name %></span>
              </a>
            </li>
          </ul>
          <form class="">
            <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-dark me-2' %>
<%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-dark' %>
          </form>

        <% else # user not signed it %>

          <form class="d-flex ms-auto">
            <%= link_to 'Login', login_path, class: 'btn btn-dark me-2' %>
            <%= link_to 'Signup', signup_path, method: :delete, class: 'btn btn-dark' %>
          </form>

        <% end # if user is signed it %>

      </div>
    </div>
  </nav>
</div>